<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codespace.microservicecloudprovider1.provider.mapper.ProviderMapper">
    <select id="selectAccount" resultType="common.pojo.common_account.AcBaseAccount">
        SELECT
            *
        FROM
            common_account.ac_base_account
    </select>
</mapper>